@font-face {
  font-family: banksAndMilesSingleLine;
  src: url(../fonts/Banks&MilesSingleLine.ttf);
}

@font-face {
  font-family: royalCrescent;
  src: url(../fonts/RoyalCrescent.otf);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

